body {
    position: relative;
    min-height: 50vh;
}
/* .favicon {

} */
h1 {
    color: blue;
}
#frontpage-intro {
    color: yellow;
    text-align: center;
}
#frontpage-box {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
#frontpage-intro p {
    font-family: "Felipa", cursive;
    font-size: larger;
    color: red;
    margin: 0 5px;
}
#frontpage-intro a {
    color: yellow;
    margin: 0 5px;
}
#spinning-star {
    width: 5%;
    height: auto;
}
#frontpage-footer span, #frontpage-footer a {
    font-family: "Comic Sans MS", sans-serif;
    text-decoration: underline;
    color: white;
    bottom: 0px;
    left: 50%;
    line-height: 0.5em;
    padding: 0.1em;
    transition: color .2s;
}
.hovered p {
    color: purple;
    text-decoration: underline;
    transition: color .12s ease-in;
}
#about-self {
    color: white;
}