@font-face {
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Tourney.woff") format('woff');
}
@font-face {
    font-family: 'Tourney';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/TourneyItalic.woff') format('woff');
} 
@font-face {
    font-family: "ByteBounce";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/ByteBounce.ttf") format("truetype");
}
@font-face {
    font-family: "BlueScreen";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/BlueScreen.ttf") format("truetype");
}
@font-face {
    font-family: "Blox2";
    src: url("../fonts/Blox2.ttf") format("truetype");
}
@font-face {
    font-family: "ms pgothic web";
    src: url("../fonts/MsPgothicwWeb.woff") format(woff)
}
@font-face {
    font-family: "DPComic";
    src: url("../fonts/dpcomic.woff2") format(woff2)
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(7deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-7deg); }
    100% { transform: rotate(0deg); }
}
.tilt-shaking {
    animation: tilt-shaking 0.5s infinite;
    display: inline-block;
}
body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    align-items: center;
}
h2 {
    margin-top: 5%;
    font: 20px tahoma, sans-serif;
}
#train-trip, #euro-trip {
    /* color: whitesmoke; */
    font-family: "DPComic";
    color: blue;
    font-size: 23px;
}
.banner.crazy-text {
    font-size: 20px;
}
.nav-bar.crazy-text {
    font-size: 12px;
}
.banner {
    /* font-family: "Tourney"; */
    font-family: "DPComic";
    /* color: whitesmoke; */
    color: red;
    font-size: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
    margin-top: -40px;
}
.banner img {   
    width: auto;
    height: 40px;
    margin-top: 30px;
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#frontpage-box {
    flex: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
#frontpage-intro {
    text-align: center;
}
#frontpage-intro p {
    /* font-family: 'Tourney'; */
    /* font-family: "ms pgothic web"; */
    /* font-family: "Blox2"; */
    /* font-family: "BlueScreen"; */
    font-family: "ByteBounce";
    /* font-style: italic; */
    font-size: 50px;
    color: blue;
    margin-bottom: -20px;
}
#frontpage-intro a {
    margin-top: 50px;
    font-family: "Comic Sans MS", sans-serif;
    color: whitesmoke;
    margin: 0 5px;
}
#spinning-star {
    width: 9%;
    height: auto;
}
/* footer-component {
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    color: white;
}
footer-component span, footer-component a {
    font-family: "Comic Sans MS", sans-serif;
    text-decoration: underline;
    color: white;
    bottom: 0px;
    left: 50%;
    line-height: 0.5em;
    padding: 0.1em;
    transition: color .2s;
} */
#footer {
    display: block;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer span, #footer a {
    font-family: "Comic Sans MS", sans-serif;
    text-decoration: underline;
    color: whitesmoke;
    bottom: 0px;
    left: 50%;
    line-height: 0.5em;
    padding: 0.1em;
    transition: color .2s;
}
.hovered p {
    color: purple;
    text-decoration: underline;
    transition: color .12s ease-in;
}
#button-style-box {
    background-color: #adadad;
    color: black;
    font: 15px tahoma, sans-serif;
    width: 45%;
    padding: 20px;
    border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
    border-style: solid;
    border-width: 5px;
}
#button-style-box a, #button-style-box figcaption {
    text-decoration: none;
    color: blue;
}
.centered-img {
    text-align: center;
    align-items: center;
}
.button-style-img {
    border-color: #746974 #cbcbcb #cbcbcb #746974;
    border-style: solid;
    border-width: 5px;
}
.top-img {
    width: 98%;
    justify-content: center;
    display: flex;
    image-rendering: pixelated;
}
.grid-img {
    width: 95%;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 15px;
}
.image-grid figure {
    margin: 0;
    padding: 0;
}
figcaption {
    font-size: smaller;
}
#footer-banner {
    width: 50%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.nav-bar {
    text-align: left;
    width: 15em;
    max-width: 10vw;
    position: fixed;
    top: 40%;
    left: 20%;
    transform: translateY(-40%);
    transform: translateX(-70%);
    width: 15%;
}
.nav-bar hr {
    text-align: center;
    border-width: 2px;
    color: rgb(251, 83, 50);
    border-color: rgb(251, 83, 50);
}
.nav-bar.crazy-text hr {
    border-width: 1px;
    border-color: whitesmoke !important;
    color: whitesmoke !important;
}
.nav-bar a {
    font-size: 28px;
    color: blue;
    grid-area: nav;
    width: 200px;
    text-align: left;
    margin: 10px;
    text-decoration: none;
}
.crazy-box {
    width: 40em;
    max-width: 90vw;
    overflow: auto;
    padding: 30px;
    width: 40%;
    background: url("../images/swirl.gif") #000232;
    background-blend-mode: overlay;
    color: rgb(220, 219, 219);
    font-size: large;
    font-family: "ms pgothic web", tahoma, sans-serif;
    border-image: url("../images/border.gif") 0 10 repeat;
    /* border-image: url("../images/border-1.jpeg"); */
    border-image-repeat: round;
    border-left: 20px solid;
    border-right: 20px solid;
    overflow: auto;
    /* font: 15px tahoma, sans-serif; */
}
.crazy-box a {
    color: #e841dd;
}
.crazy-text {
    /* font-family: "ByteBounce"; */
    /* font-family: "BlueScreen"; */
    background-image: url("../images/swirl.gif");
    /* background: #FF13F0; */
    background-blend-mode: overlay;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: "Blox2"; */
    font-family: "Tourney";
    color: #FF13F0;
    margin-bottom: -10px;
}
.inline-img {
    display: inline-block;
    /* vertical-align: text-top; */
    vertical-align: sub;
    margin-left: -1px;
    margin-top: 5px;
    width: 18px;
    height: 18px;
}
.spinning-img {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.hidden-text {
    display: none;
}
#hovered-el:hover .hidden-text {
    margin-top: 15px;
    display: block;
}
.pixel-text {

}
