body {
    position: relative;
    min-height: 50vh;
    margin: 0 5px;
}
h1 {
    color: blue;
}
#frontpage-intro {
    color: yellow;
    position: absolute;
    bottom: 0px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
#frontpage-intro a {
    display: inline-block;
    color: yellow;
    margin: 0 5px;
}
p {
    color: red;
}